body
{
    color: rgb(82, 82, 82);
    background-color: rgb(240, 215, 240);
    font-family: tahoma;
}

header, footer
{
	text-align: center;
}

a:link
{
    color:rgb(82, 82, 82);
    text-decoration: none;
    margin-right: 10px;
}

a:hover
{
    color:#a5baa2;
}

main h2
{
    text-align: center;
}

main h3
{
    text-align: center;
}

main .listCaption
{
    text-align: left;
    text-decoration: underline;
}

main .tableCaption, figcaption
{
    padding-bottom: 15px;
    padding-top: 30px;
    
}

table
{
    color:rgb(82, 82, 82);
    border: 2px solid rgb(82, 82, 82);
    padding: 0.2rem;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

table .head
{
    background-color: #879e84;
}

table .foot
{
    background-color: #879e84;
}

table tr
{
    background-color:#a5baa2;
}

table .odd
{
    background-color:#c2dbbf;
}

main figure
{
    text-align: center;
}

form
{
    text-align: center;
    border-style: inset;
    border-color: rgb(82, 82, 82);
    background-color: #EEF4ED;
    margin-left: 500px;
    margin-right: 500px;
    padding: 20px;
}

button
{
    background-color: #c2dbbf
}

button:hover
{
    background-color: #a5baa2;
}

footer
{
    margin-top: 20px;
}