body
{
    color: rgb(82, 82, 82);
    background-color: rgb(240, 215, 240);
    font-family: tahoma;
}

header, footer
{
	text-align: center;
}

main h2
{
    text-align: center;
}

form
{
    text-align: center;
    border-style: inset;
    border-color: rgb(82, 82, 82);
    background-color: #EEF4ED;
    margin-left: 500px;
    margin-right: 500px;
    padding: 20px;
}

button
{
    background-color: #c2dbbf
}

button:hover
{
    background-color: #a5baa2;
}
