body
{
    color: rgb(82, 82, 82);
    background-color: rgb(240, 215, 240);
    font-family: tahoma;
}

header, footer
{
	text-align: center;
}

footer
{
    margin-top: 20px;
}

figure img
{
    width: 300px;
}

figcaption
{
    padding-top: 10px;
}

a:link , a:visited
{
    color:rgb(82, 82, 82);
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}

a:hover
{
    color:#a5baa2;
}

main h2
{
    text-align: center;
}

main h3
{
    text-align: center;
}

main .listCaption
{
    text-align: left;
    text-decoration: underline;
}

main .tableCaption
{
    padding-bottom: 15px;
    padding-top: 30px;
    
}

main .leftAlign
{
    text-align: left;
}

table
{
    color:rgb(82, 82, 82);
    border: 2px solid rgb(82, 82, 82);
    padding: 0.2rem;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

table .head
{
    background-color: #879e84;
}

table .foot
{
    background-color: #879e84;
}

table tr
{
    background-color:#a5baa2;
}

table .odd
{
    background-color:#c2dbbf;
}

main figure
{
    text-align: center;
}

form
{
    text-align: center;
    border-style: inset;
    border-color: rgb(82, 82, 82);
    background-color: #EEF4ED;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
}

button
{
    background-color: #c2dbbf
}

button:hover
{
    background-color: #a5baa2;
}

.calculator 
{
    border-radius: 12px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 15em;
    overflow: hidden;
  }
  
  .calculator__display 
  {
    background-color: #222222;
    color: #fff;
    font-size: 1.714285714em;
    padding: 0.5em 0.75em;
    text-align: right;
  }
  
  .calculator__keys 
  {
    background-color: #999;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .calculator__keys > * 
  {
    background-color: #fff;
    padding: 0.5em 1.25em;
    position: relative;
    text-align: center;
  }
  
  .calculator__keys > *:active::before,
  .calculator__keys > .is-depressed::before 
  {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
    content: "";
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  
  .key--operator 
  {
    background-color: #eee;
  }
  
  .key--equal 
  {
    background-image: linear-gradient(to bottom, #fe886a, #ff7033);
    grid-column: -2;
    grid-row: 2 / span 4;
  }

  .table_results
  {
    border: none;
  }