body
{
    color: #1F1300;
    background-color: #E0D2C3;
    font-family: tahoma;
}

header, footer
{
	text-align: center;
}

footer
{
    margin-top: 20px;
}

figure img
{
    width: 300px;
}

figcaption
{
    padding-top: 10px;
}

a:link , a:visited
{
    color:#1F1300;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}

a:hover {
    color:#655A47;
}

main h2 {
    text-align: center;
}

main h3 {
    text-align: center;
}

form {
    text-align: center;
    border-style: inset;
    border-color: #1F1300;
    background-color: #FFEED6;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
}

.established {
    font-style: italic;
    text-align: center;
}

.menu {
    width: 80%;
    border-style: inset;
    border-color: #1F1300;
    background-color: #FFEED6;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    max-width: 700px;
}

hr {
    height: 1.5px;
    background-color: #1F1300;
    border-color: #1F1300;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.dessert, .coffee, .flavor, .milk {
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 15%;
}

h3, .single {
    text-align: left;
}