<footer>
    <h3><a href="../gustafsondesigns.co/">Designed by Gustafson Designs &copy; 2022</a></h3>
    
    <section class="validation">
        <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
            <img src="images/html5_validation_button.png" alt="Link to HTML Validator">
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
            <img src="images/css_validation_button.png" alt="Link to CSS Validator">
        </a>
    </section>
</footer>