<footer>
    <br>
        <nav>
            <a href="https://webpages.charlotte.edu/egustaf2/">UNCC Webpage</a>
			<a href="https://egustaf2.github.io/itis3135/">Github Website</a> 
			<a href="https://egustaf2.github.io/">Github Root Website</a>
			<a href="https://github.com/egustaf2/egustaf2.github.io">Github Repository</a>
			<a href="https://www.freecodecamp.org/EmilyGustafson">Free Code Camp</a> 
			<a href="https://www.codecademy.com/profiles/emilygustafson">Codecademy</a> 
			<a href="https://www.linkedin.com/in/emilyngustafson">LinkedIn</a>			
        </nav>
        <h3><a href="gustafsondesigns.co/">Designed by Gustafson Designs &copy; 2022</a></h3>
			<section class="validation">
				<a href="https://validator.w3.org/check?uri=referer">
					<img src="images/html5_validation_button.png" alt="Link to HTML Validator">
				</a>
				<a href="https://jigsaw.w3.org/css-validator/check/referer">
					<img src="images/css_validation_button.png" alt="Link to CSS Validator">
				</a>
			</section>
</footer>