<header>
	<h1>Emily Gustafson| Elegant Goose | ITIS 3135</h1>
	<nav>
		&#10084; <a href="./">Home</a> &#10084;
		<a href="introduction.html">Introduction</a> &#10084;
		<a href="https://webpages.charlotte.edu/egustaf2/">My UNCC Home Page</a> &#10084;
		<a href="tables.html">Tables</a> &#10084;
		<a href="forms.html">Forms</a> &#10084;
		<a href="website_evaluations.html">Website Evaluation</a> &#10084;
		<a href="CRAP/CRAP%20PAGE😀.htm">CRAP PAGE</a> &#10084;
		<a href="firstscripts.html">First Scripts</a> &#10084;
		<a href="polygons.html">Polygons</a> &#10084;
		<a href="calculator_try.html">Calculator Try</a> &#10084;
		<a href="calculator_fcc.html">Calculator Part 2</a> &#10084;
		<a href="arrays.html">Arrays</a> &#10084;
		<a href="accessibility/index.html">Accessibility</a> &#10084;
		<a href="project_rand.html">Project Design</a> &#10084;
		<a href="hobby/index.html">Hobby</a> &#10084;
		<a href="slideshow.html">Slideshow</a> &#10084;
		<a href="project/index.html">Project</a> &#10084;
		<a href="peer_review.html">Peer Review</a> &#10084;
		<a href="Activity10.html">Activity 10</a> &#10084;
		<a href="Activity11/Activity11.html">Activity 11</a> &#10084;
		<a href="Activity12/Activity12.html">Activity 12</a> &#10084;
		<a href="Activity13/Activity13.html">Activity 13</a> &#10084;
	</nav>
</header>