<header>
	<h1>Emily Gustafson| Elegant Goose | ITIS 3135</h1>
	<nav>
		&#10084; <a href="./">Home</a> &#10084;
		<a href="introduction.html">Introduction</a> &#10084;
		<a href="https://webpages.charlotte.edu/egustaf2/">My UNCC Home Page</a> &#10084;
		<a href="tables.html">Tables</a> &#10084;
		<a href="forms.html">Forms</a> &#10084;
		<a href="website_evaluations.html">Website Evaluation</a> &#10084;
		<a href="CRAP/CRAP%20PAGE😀.htm">CRAP PAGE</a> &#10084;
		<a href="first_scripts.html">First Scripts</a> &#10084;
		<a href="polygon.html">Polygon</a> &#10084;
		<a href="calculator_try.html">Calculator Try</a> &#10084;
		<a href="calculator.html">Calculator Part 2</a> &#10084;
		<a href="arrays.html">Arrays</a> &#10084;
	</nav>
</header>